# Drought vs election Data USA

In [2]:
import pandas as pd
df_drought_usa = pd.read_csv("United_States_Drought_Monitor__2000-2016.csv")

In [3]:
df_drought_usa

         year  month  day  statefips  countyfips  value
0        2000      1    4          2        2013      9
1        2000      1   11          2        2013      9
2        2000      1   18          2        2013      9
3        2000      1   25          2        2013      9
4        2000      2    1          2        2013      9
...       ...    ...  ...        ...         ...    ...
2786062  2016     11   29         56       56045      2
2786063  2016     12    6         56       56045      2
2786064  2016     12   13         56       56045      2
2786065  2016     12   20         56       56045      2
2786066  2016     12   27         56       56045      2

[2786067 rows x 6 columns]

In [4]:
df_drought_usa.countyfips.astype(str).str.ljust(5, fillchar="0")

0          20130
1          20130
2          20130
3          20130
4          20130
           ...
2786062    56045
2786063    56045
2786064    56045
2786065    56045
2786066    56045
Name: countyfips, Length: 2786067, dtype: object

In [5]:
df_drought_usa.countyfips = df_drought_usa.countyfips.astype(str).str.rjust(5, fillchar="0")
df_drought_usa.countyfips = df_drought_usa.countyfips.astype(int)

In [6]:
df_drought_usa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2786067 entries, 0 to 2786066
Data columns (total 6 columns):
 #   Column      Dtype
---  ------      -----
 0   year        int64
 1   month       int64
 2   day         int64
 3   statefips   int64
 4   countyfips  int32
 5   value       int64
dtypes: int32(1), int64(5)
memory usage: 116.9 MB

In [7]:
df_drought_usa.to_csv('shark_drought_data_usa.csv', index =False)

In [8]:
df_county_presidential = pd.read_csv("countypres_2000-2020_county.csv")

In [9]:
df_county_presidential.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72617 entries, 0 to 72616
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   year            72617 non-null  int64
 1   state           72617 non-null  object
 2   state_po        72617 non-null  object
 3   county_name     72617 non-null  object
 4   county_fips     72560 non-null  float64
 5   office          72617 non-null  object
 6   candidate       72617 non-null  object
 7   party           72617 non-null  object
 8   candidatevotes  72617 non-null  int64
 9   totalvotes      72617 non-null  int64
 10  version         72617 non-null  int64
 11  mode            72617 non-null  object
dtypes: float64(1), int64(4), object(7)
memory usage: 6.6+ MB

In [10]:
df_county_presidential.county_fips.astype(str).str.replace('.0', '', regex=False).str.rjust(5, fillchar="0")

0        01001
1        01001
2        01001
3        01001
4        01003
         ...
72612    56043
72613    56045
72614    56045
72615    56045
72616    56045
Name: county_fips, Length: 72617, dtype: object

In [11]:
# conversion to 'int' does not work because of NA. Can remain a string for now df_county_presidential.county_fips = df_county_presidential.county_fips.astype(int)

In [12]:
df_county_presidential.to_csv('shark_county_presidential_usa.csv', index =False)

In [13]:
df_fips_5 = pd.read_csv("NY FIPS 5 (FIPS Codes)_Migrated Data.csv")

In [14]:
df_fips_5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 1 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   County;County FIPS 5;State;Number of Records  62 non-null     object
dtypes: object(1)
memory usage: 624.0+ bytes